* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

.hr {
    border: 1px solid red;
}

.loke {
    height: 190px;
    width: 100%;
    /* border: 2px solid green; */
    background-color: black;
    color: white;
    /* position: sticky;
    top: 0; */
}

.loke h1 {
    margin-top: 50px;
}

.loke i a {
    color: white;
    margin-left: 60px;
    text-decoration: none;
}

.loke i {
    margin-left: 20px;
}

.siri {
    height: 380px;
    width: 100%;
    border: 1px solid red;
    margin-top: 5px;
}

.sir img {

    position: absolute;
    height: 380px;
    width: 100%;

}

.sir h3 {

    position: relative;
    z-index: 1;
    color: aliceblue;
    font-size: 30px;
    padding-top: 190px;
    /* text-align: center; */
    margin-right: 30px;
}

.sir button {
    color: black;
    background-color: yellow;
    position: relative;
    z-index: 1;
    padding: 20PX;
    border-radius: 20px;
    margin-left: 130px;
    border: 2px solid yellow;
}

.sir button:hover {
    color: black;
    transform: scale(0.9);
    background-color: rgb(163, 163, 205);
}

.vivii {
    height: 480px;
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 10px;
}

.vivi:hover {
    transform: scale(0.9);
}

.vivi {
    float: left;
    border: 2px solid rgb(0, 3, 0);
    height: 400px;
    width: 400px;
    margin-left: 10px;
    margin-top: 20px;
}

.vivi img {
    height: 150px;
    width: 150px;
}

.vivi h1 {
    margin-top: 50px;
}

.diya {
    height: 400px;
    width: 100%;
    /* border: 2px solid green; */
    margin-top: 5px;

}

.diy:hover {
    transform: scale(1.1);
}

.diy {
    float: left;
    height: 345px;
    width: 360px;
    /* border: 2px solid green; */
    margin-left: 50px;
    margin-top: 5px;
}

.diy img {
    height: 345px;
    width: 360px;
    position: absolute;
}

.diy p {
    position: relative;
    z-index: 1;
    padding-top: 30px;
    color: azure;
}

.diy h1 {
    position: relative;
    z-index: 1;
    padding: 150px;
    padding-left: 30px;
    color: white;
}

.madhu {
    height: 280px;
    width: 100%;
    /* border: 2px solid yellow; */
    margin-top: 10px;
}

.madhu1:hover {
    transform: scale(1.1);
}

.madhu1 {
    float: left;
    height: 170px;
    width: 170px;
    /* border: 2px solid red; */
    margin-left: 30px;
    border-radius: 800px;
    margin-top: 30px;
}

.madhu1 img {
    height: 170px;
    width: 170px;
    border-radius: 800px;
}

.madhu1 h4 {
    text-align: center;

}

.radha {
    height: 380px;
    width: 100%;
    /* border: 2px solid violet; */
    margin-top: 10px;
    text-align: center;


}

.radhe {
    height: 280px;
    width: 250px;
    /* border: 2px solid black; */
    float: left;
    margin-left: 50px;
    margin-top: 40px;
    background-color: bisque;


}


.radhe:hover {
    transform: scale(1.1);
}

.radhe img {
    height: 180px;
    width: 245px;
}

.radhe h5 {
    text-align: center;
}

.radhe button {
    margin-left: 10px;
    color: black;
    background-color: green;
    border-radius: 10px;
    font-size: 10px;
    padding: 5px 10px;
    color: white;
}
.dhahi{
    height: 450px;
    width: 100%;
    /* border: 2px solid yellow; */

}
.mmm{
    height: 350px;
    width: 350px;
    /* border: 2px solid red; */
    float: left;
    margin-top: 30px;
    margin-left: 50px;
}
.mmm img{
    height: 350px;
    width: 350px;
    position: absolute;
    /* opacity: -270px; */

}
/* .mmm h5{
    position: relative;
    margin-top: 0px;
    font-size: 30px;
    color:black;
} */
.mmm h2{
    position: relative;
    margin-top: 230px;
    font-size: 40px;
    color: white;

}
.mmm h2 p{
    color: black;
    font-size: 20px;
}
/* section8,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.sharon{
    height: 400px;
    width: 100%;
    /* border: 2px solid green; */
}
.rani{
    height: 350px;
    width: 300px;
    /* border: 1px solid green; */
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}
.rani img{
    height: 270px;
    width: 300px;
}
.rani h3{
    color: rgb(10, 8, 13);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

/* section9,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.rosi{
    height: 400px;
    width: 100%;
    /* border: 2px solid green; */
margin-top: 10px;
}
.swapna1{
    height: 370px;
    width: 640px;
    /* border: 1px solid red; */
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.swapna1 img{
    height: 370px;
    width: 640px;
  
}
.swapna2{
    height: 370px;
    width: 480px;
    /* border: 1px solid red; */
    margin-left: 720px;
    margin-top: 20px;
}
/* <!-- section10,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, --> */

.sur{
    height: 1300px;
    width: 100%;
    /* border: 2px solid green; */
margin-top: 10px;

}
.ramya{
    height: 300px;
    width: 280px;
    /* border: 2px solid green; */
margin-top: 20px;
float: left;
margin-left: 30px;

}
.ramya img{
    height: 250px;
    width: 276px;

}
/* <!-- section11,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, --> */
.mahi{
    height: 130px;
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 10px;
    text-align: center;
}
.mahi button{
    padding: 10px 190px;
    border-radius: 50px;
    background-color: goldenrod;
    font-size: 20px;
    color: aliceblue;
}
.amma{
    height: 50px;
    width: 100%;
    /* border: 1px solid green; */

}
.amma button{
    margin-top: 5px;
    text-align: center;
margin-left: 600px;
padding: 10px 30px;
border-radius: 20px;
font-size: 15px;
background-color: green;
color: azure;
}
.amma button:hover{
    border: 2px solid aqua;
}
/* section12,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.nanna{
    height: 400px;
    width: 100%;
    /* border: 1px solid gray; */
background-color: black;
}
.son{
    height: 370px;
    width: 300px;
    /* border: 1px solid gray; */
 float: left;
 margin-top: 20px;
 margin-left: 10px;
}
.son h1{
    font-size: 20px;
    color: aliceblue;
}
.son i{
    font-size: 25px;
    margin-left: 20px;
    color: aliceblue;
}
.son p{
    margin-left: 20px;
    color: aliceblue;
}
